prometheus:
  storageSize: "2Gi"
  retention: "30d"
  host: prometheus-local.com

grafana:
  host: grafana-local.com
  storageSize: "2Gi"
  retention: "30d"
  adminUser: {{ env "GRAFANA_ADMIN_USER" | default "admin" }}
  adminPassword: {{ env "GRAFANA_ADMIN_PASSWORD" | default "admin" }}